.cell{
    width:32px;
    height:32px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    background-image: url("../img/grass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
    margin:0px;
    font-weight: 800;
    font-family: cursive;
    color: white;
}

.board{
    position:absolute;
    left:300px;
    top:100px;
}


.modal{
    width:100px;
    height:100px;
    position: absolute;
    top:200px;
}

.boom{
    background-image: url("../img/boom.png");
    width:200px;
    height:200px;
    background-position: center;
    position:absolute;
    top: 250px;

}

.hide{
    display: none;
}
.shown{
    background-image: url("../img/mud.png");

}

.hint{
    width:32px;
    height:32px;
}

.mine{
    background-image: url("../img/mine.png");
}

body{
    background-image: linear-gradient(white,silver,gray,black);
    background-size: cover;
    background-repeat: no-repeat;
}

html,body{
    height:100%;
    width:100%;
}
      


